// o arquivo contém variáveis, resets, mixins e classes utilitárias

$color-black-russian: #1d2026;
$color-nobel: #999;
$color-white: #fff;
$color-white-smoke: #efefef;

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
